@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lato', sans-serif;
}

.bgColor {
    background-color: #c29958;
}

.textColor {
    color: #c29958;
}

.CartBox {
    display: inline-block;
    position: relative;
}

.image-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

/* Styles for the image */
.image-container Image {
    width: 400px;
    height: 200px;
    object-fit: fill;
    border-radius: 8px;
    transition: transform 0.3s ease;
    /* Add a transition for the hover effect */
}

/* Styles for the overlay and button */
.overlay {
    position: absolute;
  
 top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    /* Add a semi-transparent overlay */
    opacity: 0;
    padding: 10px;
    transition: opacity 0.5s ease;
    /* Add a transition for the hover effect */
}

.overlay button {
   padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Hover effect */
.CartBox:hover .image-container Image {
    transform: scale(1.1);
    /* Scale the image when CartBox is hovered */
}

.CartBox:hover .overlay {
    opacity: 1;
    /* Show the overlay on hover */
}